/* Change the background of the entire visible page */
body {
    background-color: #67cfff; /* Very light grey */
}

/* Style for all paragraphs */
p {
    color: rgba(0, 0, 0, 0)0, 0);
    font-size: 16px;
    font-family: 'Times New Roman', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px solid rgb(0, 162, 255); /* Adds an orange border around the heading */
    padding: 10px; /* Adds space inside the border */


