Change the background of the entire visible page */
body {
    background-color: #bee0fe, 0); /* Very light grey */
}

/* Style for all paragraphs */
p {
    color: #bee0fe, 0);
    font-size: 14px;
    font-family: 'Times New Roman', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px solid #a2d2ff; /* Adds an orange border around the heading */
    padding: 10px; /* Adds space inside the border */
